@media screen and (max-width: 768px) {

/*=====================1.0 General===========================*/

/*=====================2.0 Header===========================*/

.menu-wrapper.desktop-menu{
	display: none;
}

.menu-wrapper.mobile-menu{
	display: flex;	
}

/*=====================3.0 Body===========================*/


/*=====================4.0 footer===========================*/

/*=====================5.0 Responsive===========================*/

}




@media screen and (max-width: 992px) {

/*=====================1.0 General===========================*/

/*=====================2.0 Header===========================*/

.instructor-link{
    display:none;
}

/*=====================3.0 Body===========================*/
	


/*=====================4.0 footer===========================*/

/*=====================5.0 Responsive===========================*/

}

