/*=====================1.0 CSS Reset===========================*/

/*remove the blue border of default chrome style*/
:focus{
	outline:0 !important;
}

p { margin: 0 !important; }

a {
	color: #484848 !important;
	font-size: 14px;
}

a:hover,
a:focus{
	text-decoration:none !important;
}

h1{
	text-transform: capitalize;
}

h1{ font-size: 20px !important; }
h2{ font-size: 18px !important; }
h3{ font-size: 16px !important; }

input, select, button{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

button{
	border: none;
    background-color: #F25D30;
    color: #fff !important;
}

.icon-button{
	display: block;
	width:100%;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857143;
	user-select: none;
	border:none;
	background-color:unset;
}

/*=====================2.0 General===========================*/
body{
	font-family: Arial,Helvetica,sans-serif;
	position:relative;
	font-weight: 300;
}

.outter-wrapper{
	padding-top: 70px;
    min-height: 100vh;
	overflow: hidden;
}

.wrapper{
	padding-top:30px;
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 24px !important;
    padding-right: 24px !important;
    max-width: 1080px !important;
}

.centerbox-wrapper.spinner{
	width:auto;
}

.centerbox.spinner{
	border-radius: 20px;
	color:#F25D30;
	padding:0;
	height:40px;
    -webkit-animation: spin 1.5s infinite linear;
}

.centerbox.dialog{
	background-color: #fff;
	border:1px solid #eee;
}

.material-icons.spinner{
    font-size:40px;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}


/*=====================3.0 Header===========================*/


/*=====================4.0 Body===========================*/

/* 4.1 general */
/* 4.2 home */
/* 4.3 category list */
/* 4.4 single category */
/* 4.5 single course */
/* 4.6 Dashboard */
/* 4.7 instructor Dashboard */
/* 4.8 payment */

/*=====================5.0 footer===========================*/



