/*=====================1.0 CSS Reset===========================*/

html,
body,
input,
.popover
{
	font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif !important;
	position:relative;
	font-weight: 300;
	font-size: 14px;
	color: #333;
}

::-webkit-input-placeholder{
	font-weight: 300 !important;
}
::-moz-placeholder{
	font-weight: 300 !important;
}
:-ms-input-placeholder{
	font-weight: 300 !important;
}
:-moz-placeholder{
	font-weight: 300 !important;
}
/*remove the blue border of default chrome style*/
:focus{
	outline:0 !important;
}

p { margin: 0 !important; }

a {
	color: #484848 !important;
}

a:hover,
a:focus{
	text-decoration:none !important;
}

h1, h2, h3, h4, h5, h6{
	text-transform: capitalize;
}

h1{
	font-size: 2em;
}

h2{
	font-size: 1.8em;
}

h3{
	font-size: 1.6em;
}

h4{
	font-size: 1.4em;
}

h5{
	font-size: 1.2em;
}

h6{
	font-size: 1em;
}

input, select, button{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

button{
	border: none;
    color: #fff !important;
    font-weight: 300 !important;
}

.pull-right{
	display:block;
	float: right;
}

.pull-left{
	float: left;
}

.text-right{
	text-align: right;
}

.text-left{
	text-align: left;
}

.hidden {
	display: none !important;
}

.clearfix{
	clear: both;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

input {
	border-radius: 0;
	border: 1px solid #E9E9E9 !important;
	background-color: #fff !important;
	padding: 0.5em 1em;
}

.img-circle {
    border-radius: 50%;
}

.input-group .form-control{
	z-index: 0 !important;
}
/*=====================1.2 Reactstrap reset===========================*/

.invalid-feedback{
	display: block;
}

/*=====================2.0 General===========================*/

.global-config-text{
	text-align: center;
	padding-top: 3em;
}

.outter-wrapper{
	overflow-x: hidden;
	min-height: 100vh;
}

.wrapper{
	padding-top: 65px;
}

.dialog-box-Wrapper,
.error-dialog-box-Wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(44, 44, 44, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index:10;
}

.dialog-box-Wrapper{z-index: 10;}
.error-dialog-box-Wrapper{z-index: 11;}

.dialog-box,
.error-dialog-box{
	height: auto; 
	background-color: #fff;
	border-radius: 6px;
	padding: 1em;
	-moz-box-shadow: -1px 1px 5px #2e2e2e;
	-webkit-box-shadow: -1px 1px 5px #2e2e2e;
	box-shadow: -1px 1px 5px #2e2e2e;
}

.dialog-box{width: 380px;}
.error-dialog-box{width: 300px;}

.close-icon{
	cursor: pointer;
}

.loading-spinner {
	text-align: center;
	padding: 2em;
}

.loading-spinner .spinner-icon{
	font-size: 4em;
    -webkit-animation: spin 1.5s infinite linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}

.star-rating{
	list-style: none;
	padding: 0 0.5em 0 0;
	float: left;
}

.star-rating li{
	display: inline-block;
	vertical-align: sub;
	color: #88BBD6;
}

/*=====================3.0 Header===========================*/

.outter-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

.menu-wrapper.desktop-menu{
	display: flex;
	height: 65px;
	justify-content: space-between;	
	padding: 10px 1.5em;
	align-items: stretch;	
}

.menu-wrapper.mobile-menu{
	display: none;
	height: auto;
	position: relative;
}

.mobile-header{
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display:flex;
	flex-direction: row;
	border-bottom: 1px solid #e4e4e4;
	height: auto;
	padding: 0 1em;
	justify-content: space-between;		
	align-items: center;
	position: relative;
	z-index: 3;
}

.mobile-opener{
	cursor: pointer;
}

.mobile-logo{
	text-align: center;
	height: 40px;
	width: auto;
	padding: 0.5em 0;
}

.mobile-logo img{
	height: 100%;
	width: auto;
}

.mobile-search-wrapper{
	position: absolute;
    top: 40px;
    right: 0;
	width: 100%;
	z-index:1;
}

.mobile-search-wrapper .search-section input{
	height: unset;
}

#mobile-slider{
	display: block;
	visibility: hidden;
	position: absolute;
	background-color: #fff;
	border: 1px solid #E9E9E9;
	padding-top: 40px;
	width: 100vw;
	height: 100vh;
	top: -100vh;
	z-index:2;
	left: 0;
    -webkit-transition: top 0.5s, visibility 0s linear 0.5s, left 0.5s;
	transition: top 0.5s, visibility 0s linear 0.5s, left 0.5s;
}

#mobile-slider ul{
	list-style: none;
	padding-left: 0;
}

#mobile-slider ul.subcategory{
	position: absolute;
	visibility: hidden;
	left: 100%;
	width:100%;
	height: 100vh;
	padding-top: 40px;
	top: 0;
	background: #fff;
	-webkit-transition: visibility 0s linear 0.5s; 
	transition: visibility 0s linear 0.5s;
}

#mobile-slider ul.subcategory.top-layer{
	visibility: visible;
	-webkit-transition: visibility 0s linear 0s; 
	transition: visibility 0s linear 0s;
}

#mobile-slider ul li a{
	display: inline-block;
	width:100%;
	padding: 0.5em 1.5em;
	cursor: pointer;
}

#mobile-slider ul li a.active{
	background-color: #E9E9E9;
}

#mobile-slider.open{
	display: block;
	visibility: visible;
	top:0;
    -webkit-transition: top 0.5s, left 0.5s;
	transition: top 0.5s, left 0.5s;
}

.mobile-category ul li{
	text-transform: capitalize;
}

.mobile-menu-back{
	background-color: #E9E9E9;
}

.mobile-account-section{
	padding: 1em 1.5em;
}

.mobile-account-section a{
	display: inline-block;
	line-height: 6em;
	height:6em;
	width:6em;
	background-color: #88BBD6;
	border-radius: 50%;
	vertical-align: middle;
	color: #fff !important;
	text-align: center;
}

.mobile-account-menu{
	padding-top: 1em;
	border-top: 1px solid #E9E9E9;
}

.mobile-menu .material-icons{
	display: block;
}

.search-icon.input-group-addon{
	height:100%;
}

.mobile-opener,
.search-icon{
	padding: 0.2em;
}

.mobile-opener.open,
.search-icon.open{
	color: #fff;
	background-color: #88BBD6;
}

.search-section{
	flex-grow: 2;
	position: relative;
} 

.search-section input{
	width: 100%;
	height: 100%;
	border:1px solid #E9E9E9;
    padding: 0 0 0 1em;
}

.search-section .input-group-addon{
	background-color: #fff;
	border-color: #E9E9E9;
}

.search-icon:hover{
	cursor: pointer;
}

.menu-item{
	line-height: 100%;
	padding: 0 1em;	
	margin: 0 1em;
	position:relative;
	cursor: pointer;
	display : flex;
	align-items : center;
	border: 1px solid transparent;
	white-space: nowrap;
}

.menu-item:not(.logo-wrapper):not(.cart-icon):not(.no-hover-effect):hover{
	border: 1px solid #E9E9E9;
}

.popover{
	height:auto;
	width:auto;
	position: absolute;
	top:42px;
	display:none;
	border-radius: none !important;
	border:none;
}

.menu-item:hover .popover{
	display: block;
}

.category-pop-over.popover{
	padding: 0;
	box-sizing: border-box;
	left: 0 !important;
}

.menu-item .profile-popover{
	position: absolute;
	background-color: #fff;
	left: -166px;
	top: 44px;
	width: 360px;
	height: auto;
	border: solid 1px rgb(243, 243, 243);
}

.category-pop-over ul{
	width: 200px;
	height: auto;
	list-style: none;
	box-sizing: border-box;
	margin: 0;
	padding-left: 0;
	border: 1px solid grey;
}

.category-pop-over ul li a{
	display: block;
	padding: 0.8em 1em 0.8em 1em;
}

.category-pop-over ul li a:hover{
	background-color: rgba(0, 0, 0, 0.2);
}

.category-pop-over ul.subcategory{
	position: absolute;
	left: 200px;
	top: 0;
	visibility: hidden;
}

.category-pop-over li:hover > ul.subcategory{
	visibility: visible;
}

.menu-item.login-button{
	border: 1px solid #E9E9E9;
}

.menu-item.login-button:hover{
	color: #fff !important;
	background-color:#88BBD6;
	border: 1px solid #88BBD6 !important;
}

a.menu-item.cart-icon{
	padding:0;
}

.menu-item.cart-icon:hover i{
	color: #88BBD6;
}

.logo-wrapper img{
	height: auto;
	width: 45px;
}

.profile-icon img{
	width: 45px;
	height: auto;
}

.profile-icon .user-initials{
	display: inline-block;
    line-height: 3em;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    vertical-align: middle;
	text-align: center;
	border: 1px solid;
}

.profile-main{
	padding: 1em 1.5em 1em 1.5em;
	height:auto;
	width:100%;
	border-bottom: 1px solid rgb(243, 243, 243); 
}

.profile-main .user-initials{
	float: left;
	display: inline-block;
    line-height: 3em;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    vertical-align: middle;
	text-align: center;
	border: 1px solid;
	margin-right: 0.5em;
}

.profile-main .name-email{
	width: auto;
}

.profile-main .name-email div{
	line-height: 1.5em;
}

.profile-menu ul{
	list-style: none;
	padding: 0.5em 0;
	margin-bottom: 0;
}

.profile-menu ul li a{
	display:inline-block;
	width:100%;
	padding: 0.5em 1.5em;
}

.second-section{
	background-color: #f2f3f5;
}

/*=====================4.0 Body===========================*/

/* 4.1 general */

.login-section .input-item{
	height: 65px;
	padding: 10px 1.5em;
}

.recaptcha-wrapper{
	height: auto;
    padding: 10px 1.5em;
}

#login-recaptcha > div ,
#signup-recaptcha > div{
	margin-left: auto;
	margin-right: auto;
}

.login-section input,
.login-section button{
	display: block;
	width: 100% !important;
	height: 100%;
}

.login-section input[type="submit"],
.login-section button:hover{
	cursor: pointer;
}

.forgot-password-link{
	cursor: pointer;
}
/* 4.2 home */
/* 4.3 category list */
.item{
	padding-bottom: 2em;	
}

.item-inner{
	border: 1px solid #E9E9E9;
	transition: all 0.2s ease;
}

.item-inner:hover{
	box-shadow: 0 0 1px 1px hsla(0,0%,7%,.1), 0 3px 1px 0 hsla(0,0%,7%,.1);
}

.item-image{
	width: 100%;
	height: auto;
}

.item-image img{
	width: 100%;
}

.item-info-wrapper{
	padding: 1em 0.7em;
}

.item-title{
	font-size: 1em;
	line-height: 1.5em;
	height: 3em;
	margin-bottom: 1em;
	overflow: hidden;
}

.item-title a{
	text-overflow: ellipsis;
	display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
	white-space: normal;
    font-weight: 500;		
}

.item-author{
	display: block;
}

.review-nums{
	font-size: 0.8em;
	color: rgb(102, 102, 102);
}

.item-price{
	display:block;
	text-align: right;
	color: #88BBD6;
	font-weight: 500;
}

.pagination-wrapper{
	text-align: center;
	padding-top: 2em;
}

.pagination{
	padding-top: 1em;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
}

/* 4.4 single category */

/* 4.5 single course */

.single-course-main{
	color: #fff;
	background-color: #505763;
	padding: 4em 0;
}

.single-course-main div.row{
	position: relative;	
}

.single-course-board{
	overflow: hidden;
	box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    border-radius: 4px;
    color: #505763;
	padding: 3px;
	position: absolute;
	right:0;
	top:0;
}

/* 4.6 Account */

.account-page {
	padding: 1em 0 2em 0;
}

.account-page .user-initials{
    display: block;
    line-height: 6em;
    height: 6em;
    width: 6em;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    border: 1px solid;
	margin: 1em auto 1em auto;
}

.account-page .name{
	text-align: center;
	text-transform: capitalize;
}

.account-page .account-side-menu{
	border: 1px solid #E9E9E9;
	padding:0;

}

.account-page .side-menu{
	list-style: none;
	padding-left: 0;
	padding: 2em 0 2em 0;
}

.account-page .side-menu-item a{
	display: inline-block;
	width: 100%;
	padding: 0.5em 1em;
}

.account-page .side-menu-item a.active,
.account-page .side-menu-item a:hover{
	background-color: #E9E9E9;
}

.account-page-header{
	text-align: center;
	padding: 1.5em 0 ;
	margin: 0 0 3em 0; 
	border-top: 1px solid #E9E9E9;
	border-bottom: 1px solid #E9E9E9;
}

/* 4.7 Photo */
.account-photo-page{
	position: relative;
}

.account-photo-page .cropper-wrapper{
	width: 100%;
	height: 13em;
}

.photo-preview{
	width: 100%;
	height: 13em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E9E9E9;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.photo-preview img{
	vertical-align: middle;
	height: 100%;
	width: auto;
}

/* 4.8 instructor Dashboard */
/* 4.9 payment */


/*=====================5.0 footer===========================*/



