/*=====================1.0 CSS Reset===========================*/

body{
	font-family: Arial,Helvetica,sans-serif;
	position:relative;
	font-weight: 300;
	font-size: 16px;
}
/*remove the blue border of default chrome style*/
:focus{
	outline:0 !important;
}

p { margin: 0 !important; }

a {
	color: #484848 !important;
}

a:hover,
a:focus{
	text-decoration:none !important;
}

h1{
	text-transform: capitalize;
}


input, select, button{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

button{
	border: none;
    background-color: #F25D30;
    color: #fff !important;
}

.pull-right{
	float: right;
}

.pull-left{
	float: left;
}

.text-right{
	text-align: right;
}

.text-left{
	text-align: left;
}

.hidden {
	display: none !important;
}

/*=====================2.0 General===========================*/

.outter-wrapper{
	overflow: hidden;
}

.wrapper{
	padding-top: 2em;
}

.dialog-box-Wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(44, 44, 44, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
}

.dialog-box{
	width: 380px;
	max-height: 80vh; 
	background-color: #fff;
	border-radius: 6px;
	padding: 1em;
	-moz-box-shadow: -1px 1px 5px #2e2e2e;
	-webkit-box-shadow: -1px 1px 5px #2e2e2e;
	box-shadow: -1px 1px 5px #2e2e2e;
}

.loading-spinner {
	text-align: center;
	padding: 2em;
}

.loading-spinner .spinner-icon{
	font-size: 4em;
    -webkit-animation: spin 1.5s infinite linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}


/*=====================3.0 Header===========================*/


/*=====================4.0 Body===========================*/

/* 4.1 general */
/* 4.2 home */
/* 4.3 category list */
/* 4.4 single category */
/* 4.5 single course */
/* 4.6 Dashboard */
/* 4.7 instructor Dashboard */
/* 4.8 payment */


/*=====================5.0 footer===========================*/



